@import 'paleta.css';

* { 
	padding: 0; 
	margin: 0; 
	box-sizing: border-box; 
	outline: none; 
}

body { 
	font-size: 1.2rem;
	font-family: 'calibri', sans-serif;
	background: var(--light-full);
	transition: .5s ease-in-out;
}

a { 
	text-decoration: none; 
	color:white; 
}

h1 {
	text-transform: uppercase;
	transition: .5s ease-in-out;
}

.container { 
	margin: auto 20%; 
}

.mt-3 { 
	margin-top: 30px; 
}

.text-muthed {
	color: var(--muthed);
}

.text-light {
	color: var(--light-full);
}

.bg-dark {
	background-color: var(--dark);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: var(--blue);
	border-bottom: 3px solid var(--marron);
}

.nav .nav-brend {
	font-weight: bold;
	font-size: 2.2rem;
}

.nav .checked input[type="checkbox"] {
	position: relative;
	width: 60px;
	height: 30px;
	border-radius:100px;
	-webkit-appearance:none !important;
	background: var(--green);
	outline: none;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.nav .checked input:checked[type="checkbox"] {
	background-color: var(--light);
}

.nav .checked input[type="checkbox"]:before {
	content:'';
	position: absolute;
	width: 35px;
	height: 35px;
	background-color: var(--rocho);
	border-radius: 100px;
	border:1px solid var(--light);
	top:-3px;
	transition: .5s !important;
}

.nav .checked input:checked[type="checkbox"]:before {
	left:25px;
}

.container .list {
	transition: .5s ease-in-out;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.container .list li {
	width: 300px;
	margin: 10px;
	border:2px solid var(--blue);
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.container .list li p:nth-child(1) {
	text-align: center;
	padding: 10px;
	background-color: var(--blue);
	color:var(--light-full);
	font-size: 1.5rem;
	font-weight: bold;
}

.container .list li p:nth-child(2) {
	padding: 20px;
	margin: 10px;
	background-color: transparent;
}


















